/* - layout - */
header {
	height: 60px;
	padding: 0.5rem;
	display: flex;
	border-bottom: 1px solid #ccc;
	justify-content: space-between;
	background-color: white;
}

main {
	height: calc(100vh - 60px);
	display: flex;
/*	overflow: hidden;*/
}

/* - map */
#map_container {
	width: calc(100vw - 400px);
/*	height: calc(100% - 60px);*/
/*	position: absolute;*/
/*	left: 400px;*/
}

/* - sidebar -  */
.sidebar{
	border-right: 1px solid #ccc;
	overflow-y: scroll;
}

#sidebars {
	width: 400px;
	display: flex;
}

#sidebarA {
	height: calc(100% - 60px);
	width: 50%;
	height: 100%;
	background-color: white;
}

#sidebarA_content li{
	border-bottom: 1px solid #ccc;
	padding: 0.5rem;
	cursor: pointer;
}

#sidebarB {
	height: calc(100% - 60px);
	width: 50%;
	height: 100%;
	background-color: white;
}

/* - sidebar content - */
#cover {
	height: 200px;
	width: auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}


/* - debug - */
.button:hover {
	background-color: lightgray;
}

#test  {
	width: 100px;
	height: 100px;
	background: white;
	margin-top: 2rem;
}



/* - responsive - */

@media only screen and (max-width: 750px) {

	main {
  		-webkit-flex-direction: column-reverse; 
  		flex-direction: column-reverse;
  		height: auto;
	}

  	#sidebars {
  		width: 100vw;
  		height: 50vh;
  	}

  	#map_container{
  		height: 60vh;
  		width: 100vw;
  	}




}



